#red{
    color: red;
}
#blue{
    color: blue;
}
#orange{
    color: orange;
}
#green{
    color: green;
}
#yellow{
    color: yellow;
}
*{
    font-weight: normal;
    text-align: center;
}
img{
    width: 200px;
    height: 200px;
    border-radius: 60px;
    
}
